[Unit]
Description= Disk Analyzer manager startup and shutdown helper

#I will have to modify th onstart.sh path from setup to the working directory

[Service]
ExecStart=/home/characterme/Disk-Analyzer/setup/onstart
KillMode=process
SendSIGKILL=no
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
