[Unit]
Description= Disk Analyzer manager startup and shutdown helper

[Service]
Type=forking
ExecStart=/home/characterme/Documents/Disk-Analyzer/manager/manager
KillMode=process
StandardOutput=journal+console
TimeoutStopSec=10
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
